<div class="container__big-card" >
    
    <div class="big-card__photo" > 
        <img 
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbp8b9RocrzpwWQGIBqc6KTFmQTiH_IsMP_g&usqp=CAU"
        alt=""
        height="200px"
        
        />
    </div>
    

    
    <div class="big-card__title"> 
        <h1><a href="#" >Saiu a nova versão do Agular</a></h1>
    </div>

    <div class="big-card__description" > 
        <p>
            nenseeeeeeeee
            nenseeeeeeeeeeeeeeee

        </p>
    </div>
</div>