.container__menu-title {
    color: white;
    
}

.container__menu-title h1 {
    text-transform: uppercase;
    margin: 1rem  0;
    font-size: 135px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-family: segoe UI, sans-serif;
}

.container__menu-title hr{
    margin: 1rem 0;
}
